
.server-modal-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 50vh;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #8C92AC;
    padding: 2em;
    border-radius: 1em;

    a {
        font-weight: 600;
        text-decoration: underline;
        color: white;
        text-decoration-color: white;
    }

    .join-txt {
        font-size: 1.6em;
        color: white;
    }

    .close-btn {
        align-self: center;
        justify-self: center;
        background-color: burlywood;
        padding: 0.8em;
        font-size: 1.2em;
        font-weight: 700;
        border-radius: 2em;
        padding-left: 1em;
        padding-right: 1em;
        border: 1px, solid, white;
        color: white;
        margin-top: 1em;
    }


}